= nested_form_for @course do |f|
  = f.label :name
  = f.text_field :name
  %br
  = f.label :back_tee_slope, "Back Tees Slope"
  = f.text_field :back_tee_slope, placeholder: "Back Tees Slope"
  %br
  = f.label :back_tee_rating,"Back Tees Rating"
  = f.text_field :back_tee_rating, placeholder: "Back Tees Rating"
  %br
  = f.label :middle_tee_slope,"Middle Tees Slope"
  = f.text_field :middle_tee_slope, placeholder: "Middle Tees Slope"
  %br
  = f.label :middle_tee_rating,"Middle Tees Rating"
  = f.text_field :middle_tee_rating, placeholder: "Middle Tees Rating"
  %br
  = f.label :front_tee_slope, "Front Tees Slope"
  = f.text_field :front_tee_slope, placeholder: "Front Tees Slope"
  %br
  = f.label :front_tee_rating, "Front Tees Rating"
  = f.text_field :front_tee_rating, placeholder: "Front Tees Rating"
  %br
  = f.label :forward_tee_slope, "Forward Tees Slope"
  = f.text_field :forward_tee_slope, placeholder: "Forward Tees Slope"
  %br
  = f.label :forward_tee_rating, "Forward Tees Rating"
  = f.text_field :forward_tee_rating, placeholder: "Forward Tees Rating"
  %br
  = f.fields_for :holes do |hole_form|
    %br
    = hole_form.label :hole_number, "Hole"
    = hole_form.link_to_remove "Remove this hole"
    %br
    = hole_form.text_field :hole_number, placeholder: "Hole"
    %br
    %br
    = hole_form.text_field :par, placeholder: "Par"
    %br
    %br
    = hole_form.text_field :back_tee_yardage, placeholder: "Back Tee Yardage"
    %br
    %br
    = hole_form.text_field :middle_tee_yardage, placeholder: "Middle Tee Yardage"
    %br
    %br
    = hole_form.text_field :front_tee_yardage, placeholder: "Front Tee Yardage"
    %br
    %br
    = hole_form.text_field :forward_tee_yardage, placeholder: "Forward Tee Yardage"
    %br
    %br
    = hole_form.text_field :mens_handicap, placeholder: "Men's Handicap"
    %br
    %br
    = hole_form.text_field :womens_handicap, placeholder: "Women's Handicap"
    %br
  = f.link_to_add "Add a Hole", :holes
  %br
  = f.submit 'Save Course', class: "btn btn-success"