!!!
%html
  %head
    %title Golf Trax
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    / Fixed navbar
    .navbar.navbar-fixed-top{:role => "navigation"}
      .container
        .navbar-header
          = link_to "Golf Trax", root_path, class: "navbar-brand"
        .navbar-collapse.collapse
          = render 'layouts/navbar'
    .container_body
      .row.marketing
        .col-lg-6
          - if notice || alert
            %p.notice= notice
            %p.alert= alert
          = yield
